## Домашнее задание «Функции и работа с данными»

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [4]:
import os
os.chdir('C:\\Users\\Саша и Ира\\netology\\DataOps\\2_Numpy_Pandas\\Files\\11\\ml-latest-small')
os.getcwd()

'C:\\Users\\Саша и Ира\\netology\\DataOps\\2_Numpy_Pandas\\Files\\11\\ml-latest-small'

In [8]:
ratings_df = pd.read_csv(r'ratings.csv')

In [9]:
ratings_df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [14]:
def class_movie (param):
    """Классификация фильмов"""
    if param <= 2:
        class_film = 'низкий рейтинг'
    elif param <= 4:
        class_film = 'средний рейтинг'
    elif param >= 4.5:
        class_film = 'высокий рейтинг'
    return class_film

In [17]:
ratings_df ['class'] = ratings_df['rating'].apply (class_movie)

In [18]:
ratings_df

        userId  movieId  rating   timestamp      movie_class            class
0            1       31     2.5  1260759144  средний рейтинг  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг  средний рейтинг
...        ...      ...     ...         ...              ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг  средний рейтинг

[100004 rows x 6 columns]

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [24]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [19]:
keywords_df = pd.read_csv ('keywords.csv')

In [20]:
keywords_df

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [31]:
def find_region(row):
    for region, cities in geo_data.items():
        for city in cities:
            if city in row['keyword']:
                return region
                break
    return 'undefined'

In [32]:
keywords_df['region'] = keywords_df.apply (find_region, axis = 1)

In [36]:
keywords_df[keywords_df.region != 'undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]