## Домашнее задание «Библиотека Pandas»

### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
movielens_df = pd.read_csv(r'C:\Users\Саша и Ира\netology\DataOps\2_Numpy_Pandas\Files\ml-latest-small\movies.csv')

In [5]:
ratings_df = pd.read_csv(r'C:\Users\Саша и Ира\netology\DataOps\2_Numpy_Pandas\Files\ml-latest-small\ratings.csv')

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [11]:
ratings_equals_5_df = ratings_df[ratings_df.rating == 5]

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100814     610   158238     5.0  1479545219
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[13211 rows x 4 columns]

In [66]:
movieid_ratings_equals_5_df = pd.DataFrame(ratings_equals_5_df['movieId']\
                                           .value_counts())

In [67]:
max_number_5_rate = max(ratings_equals_5_df['movieId'].value_counts())

In [86]:
best_movieId = movieid_ratings_equals_5_df[movieid_ratings_equals_5_df\
                                           .movieId == max_number_5_rate]\
.index[0]

best_movie = movielens_df[movielens_df.movieId == best_movieId]['title'].\
to_string(index = False)

best_movie

' Shawshank Redemption, The (1994)'

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [89]:
import os
os.getcwd()
os.chdir('C:\\Users\\Саша и Ира\\netology\\DataOps\\2_Numpy_Pandas\\Files\\')
os.getcwd()

'C:\\Users\\Саша и Ира\\netology\\DataOps\\2_Numpy_Pandas\\Files'

In [90]:
power_df = pd.read_csv ('power.csv')

In [106]:
power_df[power_df['country'].str.contains('^[LE]')]\
.country.unique()

array(['Lithuania', 'Eritrea', 'Ethiopia', 'Lesotho', 'Latvia',
       'Luxembourg', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', "Lao People's Dem. Rep.", 'Liberia',
       'Libya', 'Equatorial Guinea', 'Lebanon', 'Liechtenstein'],
      dtype=object)

In [107]:
country_filter_list = ['Latvia', 'Lithuania', 'Estonia']
category_filter_list = [4, 12, 21]

In [119]:
baltic_power = power_df[power_df.country.isin(country_filter_list) & 
         power_df.category.isin(category_filter_list) & 
         (power_df.year >= 2005) & (power_df.year <= 2010) & 
         (power_df.quantity > 0)]['quantity'].sum()

baltic_power

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [153]:
medal_standings_page = pd.read_html('https://olympics.com/beijing-2022/olympic-games/ru/results/all-sports/medal-standings.htm',
                 encoding = 'UTF-8')
medal_standings_df = medal_standings_page[0].rename(columns = {'Unnamed: 2': 'Золото', 'Unnamed: 3': 'Серебро', 
                                                               'Unnamed: 4': 'Бронза'} )

medal_standings_df

,Зачёт,НОК,Золото,Серебро,Бронза,Итого,Зачётсуммамедалей,КодНОК
0,1,Германия,8,5,1,14,2,GER
1,2,Норвегия,8,3,6,17,1,NOR
2,3,Соединенные Штаты Америки,5,5,1,11,6,USA
3,4,Нидерланды,5,4,2,11,6,NED
4,5,Швеция,5,2,3,10,9,SWE
5,6,Австрия,4,6,4,14,2,AUT
6,7,Китайская Народная Республика,4,3,1,8,11,CHN
7,8,ROC,3,4,6,13,4,ROC
8,9,Италия,2,5,4,11,6,ITA
9,10,Япония,2,3,5,10,9,JPN
10,11,Словения,2,1,2,5,14,SLO
11,12,Швейцария,2,0,5,7,12,SUI
12,13,Франция,1,6,0,7,12,FRA
13,14,Канада,1,4,8,13,4,CAN
14,15,Австралия,1,2,1,4,15,AUS
15,15,Южная Корея,1,2,1,4,15,KOR
16,17,Финляндия,1,1,2,4,15,FIN
17,18,Чешская Республика,1,0,1,2,18,CZE
18,19,Новая Зеландия,1,0,0,1,20,NZL
19,19,Словакия,1,0,0,1,20,SVK
20,21,Беларусь,0,1,0,1,20,BLR
21,21,Испания,0,1,0,1,20,ESP
22,23,Венгрия,0,0,2,2,18,HUN
23,24,Бельгия,0,0,1,1,20,BEL
24,24,Латвия,0,0,1,1,20,LAT
25,24,Польша,0,0,1,1,20,POL